[core]
  pager = delta
[delta]
  side-by-side = true
[user]
  email = iker@urle.eus
  name = ikerUrle
[includeIf "gitdir:~/work/"]
  path = .gitconfig.work
[includeIf "gitdir:~/projects/"]
  path = .gitconfig.projects
